
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.full-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sidebar {
    width: 20%;
    background-color: #f0f0f0;
  }
  #movie-cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 5px;
    column-gap: 3px;
  }
  .movie-cards{
    width: 80%;
  }
