.card{
    width:200px;
    border: 1px solid #ddd;
    margin: 15px;
    transition: all 0.3s ease-in-out;
}
.title{
    margin:2px
}
.image{
    padding: 4px;
}
.rating{
    justify-content: start;
    margin: 1px;
}
.favorite, .watched {
    size: 5px;
    background-color: #f4f4f4;
    color: grey;
    padding: 2px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: none;
  }
  .favorite.clicked, .watched.clicked{
    background-color: gray;
  }
